<!--<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title></title>
  </head>
  <body>
    <form action="/story">
        <input name='name1' class='form-control' type='text'>
        <input name='name2' class='form-control' type='text'>
        <input name='creature' class='form-control' type='text'>
        <input name='weapon' class='form-control' type='text'>
        <input name='vehicle' class='form-control' type='text'>
        <input name='treasure' class='form-control' type='text'>
        <button type='submit' class='btn'>Show me the story!</button>
    </form>
  </body>
</html>-->


<!--Test example above-->