<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
    <title></title>
  </head>
  <body>
  <h1>Select Your Mode</h1>
  <a href="/form">2 PLAYER MODE</a>
  <a href="/form-computer">VS COMPUTER MODE</a>

  </body>
</html>
