<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <h1>@Model.RPSWinner()</h1>
  <p>Player 1 Used: @Model.GetP1Name()</p>
  <p>Player 2 Used: @Model.GetP2Name()</p>
  </body>

<a href="/">Play Again</a>
</html>
